body,
html {
  font-family: "Roboto", sans-serif;
  height: 100%;
  margin: 0;
}

.bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#comments-container {
  background-color: #eee;
  padding: 1rem;
}

#comments-div {
  bottom: 0;
  left: 0;
  margin: 1rem;
  position: fixed;
}

#comments-button {
  background-color: #eee;
  padding: 1rem;
}

#comments-button:focus {
  outline: none;
}

#comments-button:hover {
  background-color: #f8f8f8;
  transition: 0.3s;
}

#comments-form {
  background-color: #f8f8f8;
  display: none;
  margin: 1rem 0;
  padding: 1rem;
}

#bg-home {
  background-image: url("/images/me.jpg");
  height: 100%;
}

#bg-school {
  background-image: url("/images/bg-rock-blur.jpg");
}

#bg-work {
  background-image: url("/images/bg-water-blur.jpg");
}

#bg-hobbies {
  background-image: url("/images/bg-shirt-blur.jpg");
}

#bg-mbti {
  background-image: url("/images/bg-rock2-blur.jpg");
}

.material-icons.md-5 {
  font-size: 5rem;
}

.material-icons.md-8 {
  font-size: 2rem;
}

.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}

.centered {
  background-color: rgba(25, 25, 25, 0.5);
  color: white;
  font-size: 4rem;
  left: 50%;
  padding: 1rem;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.title {
  display: block;
  font-size: 3.5rem;
  padding-top: 4rem;
  text-align: center;
}

.title.school {
  color: white;
}

#music,
#research {
  display: none;
}

.page-div {
  margin: auto;
  padding-bottom: 4rem;
  width: 75vw;
}

.scroll-down {
  bottom: 0%;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

.school-links {
  color: rgb(209, 193, 174);
  text-decoration: none;
}

.title.work {
  color: black;
}

table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
}

.work-description {
  padding: 3rem 4rem 3rem 1rem;
}

td span {
  font-size: 1.5rem;
}

td p {
  font-size: 1rem;
}

.work-logo {
  height: 8rem;
}

.work-links {
  color: rgb(61, 95, 121);
  font-weight: bold;
}

#hobbies-div {
  color: white;
}

.hobbies-links {
  color: rgb(250, 220, 220);
  font-weight: bold;
}

.hobbies-description {
  padding: 3rem 4rem 3rem 1rem;
}

.hobbies-imgs tr td img {
  height: 10rem;
}

.hobbies-description td {
  vertical-align: top;
}

#mbti-chart {
  padding-top: 6rem;
}

.mbti-traits {
  height: 8rem;
  margin: auto;
  width: 50rem;
}

/* Begin social bar styling */

.social-bar {
  opacity: 0.6;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}

.social-bar a {
  display: block;
  transition: all 0.3s ease;
}

.social-bar a:hover {
  opacity: 0.8;
}

.socials {
  height: 3rem;
  padding-left: 1rem;
}

#lang-label {
  background-color: white;
  padding: 0.5rem;
}

/* End social bar styling */

/* Begin coursework styling */

.tab {
  background-color: #f1f1f1;
  margin-top: 4rem;
  overflow: hidden;
}

.tab button {
  background-color: inherit;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  outline: none;
  padding: 1rem 1rem;
  transition: 0.3s;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
  font-weight: bold;
}

.tabcontent {
  border: 0.1rem solid #ccc;
  border-top: none;
  color: white;
  font-size: 1.5rem;
  padding: 1rem 2rem;
}

/* End coursework styling */
