body, html {
    height: 100%;
    margin: 0;
}

.bg {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#bg-home {
    background-image: url("/images/me.jpg");
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(25, 25, 25, 0.5);
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 1rem;
    font-size: 4rem;
}

.material-icons.md-5 { 
    font-size: 5rem;
}

.material-icons.md-light { 
    color: rgba(255, 255, 255, 1); 
}

.scroll-down {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
}

/* Begin social bar styling */

.social-bar {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.6;
}

.social-bar a {
    display: block;
    transition: all 0.3s ease;
}

.social-bar a:hover {
    opacity: 0.8;
}

.socials {
    height: 3rem;
    padding-left: 1rem;
}

/* End social bar styling */
